body {
    display: flex;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #37438a;
}

.bg {
    width: 80%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.star {
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.input_box {
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7684d6;
    padding: 2rem;
    box-shadow: 0px 5px 10px 1px;
}

legend {
    font-size: 3rem;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap: 2rem;
}

.create_btn {
    padding: 7px;
    border-radius: 7px;
    background-color: #e0e5ff;
}

.signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}