body {
    display: flex;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #323a69;
}

.bg {
    width: 80%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.star {
    height: 100%;
    width: 100%;
}

.text {
    display: flex;
    justify-content: center;
}

p {
    color: white;
}

.image_container {
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: black;
    opacity: 0.5;
    top: 25%;
}

.logo {
    position: absolute;
    top: 10%;
    left: -5%;
    right: 0%;
    overflow: hidden;
    width: 100%;
    height: 50%;
}

.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.input_box {
    display: flex;
    flex-direction: column;
}

input {
    border: 2px solid;
    border-color: black;
    border-radius: 5px;
}

input:valid {
    border-color: greenyellow;
}

input:invalid {
    border-color: red;
}

.input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #828cc4;
    padding: 2rem;
    box-shadow: 0px 5px 10px 1px;
}

legend {
    font-size: 3rem;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap: 2rem;
}

.create_btn {
    padding: 7px;
    border-radius: 7px;
    background-color: #e0e5ff;
}

.create_btn:hover {
    background-color: #a34b4b;
}

.signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}